*{
    padding: 0;
    margin: 20px 10px 20px 10px;

    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: black;
    width: auto;
    height: 2101px;
}

header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.text {
    width: 790px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.text > a {
    font-family: "Rubik";
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.basicInfo {
    height: 902px;
    display: flex;
    margin-top: 50px;
}

.text1 > h1 {
    color: rgb(255, 255, 255);
    font-family: "Roboto";
    font-size: 75px;
    font-weight: 400;
    line-height: 93px;
    text-transform: uppercase;
    margin-left: 285px;
    font: bold;
}

.X {
    color: rgb(237, 188, 90);
    font-family: "Rubik";
    font-size: 16px;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: absolute;
}

.X1 {
    color: rgb(176, 176, 176);
    font-family: "Rubik";
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
}

.text2{
    width: 710px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    gap: 10px;
}

.xz {
    width: 330px;
    height: 178px;
    display: flex;
    flex-direction: column;
}

.xz > div {
    margin-top: 0;
}

.xz > h1 {
    color: rgb(255, 255, 255);
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 400;
    line-height: 35px;
    font: bold;
}

.xz > div > p {
    color: rgb(176, 176, 176);
    font-family: "Rubik";
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
}

.xz1 {
    width: 330px;
    height: 178px;;
    display: flex;
    flex-direction: column;
}

.xz1 > div {
    margin-top: 0;
}

.xz1 > h1 {
    color: rgb(255, 255, 255);
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 400;
    line-height: 35px;
    font: bold;
}

.xz1 > div > p {
    color: rgb(176, 176, 176);
    font-family: "Rubik";
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
}

.xz2 {
    width: 330px;
    height: 178px;;
    display: flex;
    flex-direction: column;
}

.xz2 > div {
    margin-top: 0;
}

.xz2 > h1 {
    color: rgb(255, 255, 255);
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 400;
    line-height: 35px;
    font: bold;
}

.xz2 > div > p {
    color: rgb(176, 176, 176);
    font-family: "Rubik";
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
}

.xz3 {
    width: 330px;
    height: 178px;;
}

.xz3 > h1 {
    color: rgb(255, 255, 255);
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 400;
    line-height: 35px;
    font: bold;
}

.xz3 > div > p {
    color: rgb(176, 176, 176);
    font-family: "Rubik";
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
}

.o {
    display: flex;
    flex-wrap: wrap;
}

.im {
    margin-top: 70px;
    margin-right: -50px;
    width: 665px;
    height: 620px;
}

.button {
    width: 140px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    border-radius: 46px;
    margin-top: 65px;
}

.button > p {
    color: rgb(20, 20, 20);
    font-family: "Rubik";
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
}

.Info {
    height: 178px;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
}

.Info > div > h1 {
    color: rgb(255, 255, 255);
    font-family: "Roboto";
    font-size: 120px;
    font-weight: 400;
    line-height: 149px;
    text-align: center;
    font: bold;
}

.Info > div > p {
    color: rgb(255, 255, 255);
    font-family: "Rubik";
    font-size: 18px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.footer {
    height: 484px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    margin-top: 140px;
}

.X3 {
    display: flex;
    gap: 170px;
}

.text3 > div {
    display: flex;
    flex-direction: column;
}

#test > a > p {
    margin-top: -10px;
  }

.text3 > h1 {
    color: rgb(255, 255, 255);
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 400;
    line-height: 35px;
    font: bold;
}

.text3 > div > a > p {
    color: rgb(255, 255, 255);
    font-family: "Rubik";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-transform: uppercase;
}

.text4 {
    width: 304px;
}

.text4 > h1 {
    color: rgb(255, 255, 255);
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 400;
    line-height: 35px;
    font: bold;
}

.text4 > div > a > p {
    color: rgb(255, 255, 255);
    font-family: "Rubik";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-transform: uppercase;
}

.button1 {
    width: 146px;
    height: 146px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin-top: -250px;
    margin-left: 130px;
}

.button1 > p {
    color: rgb(20, 20, 20);
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 1px;
    text-align: center;
    font: bold;
}

.konec {
    display: flex;
    gap: 60px;
}

.img {
    margin-top: 260px;
}